<section class="mt-10 flex flex-col gap-4">
  <ng-template #recursiveList let-categories>
    @for (category of categories; track category.category_id) {
      <div (click)="toggleCategory(category); $event.stopPropagation()" class="ml-4">

        @if (category.children && category.children.length > 0) {
          <div class="flex items-center gap-1 cursor-pointer">
            <p>{{ category.category_name }}</p>
            <ng-icon name="bootstrapChevronDown" [color]="'var(--color-midnight)'" />
          </div>
        } @else {
          <p class="cursor-pointer">{{ category.category_name }}</p>
        }

        @if (category.children?.length > 0 && isOpened(category.category_id)) {
          <div class="border-l border-gray-300 ml-2">
            <ng-container
              *ngTemplateOutlet="recursiveList; context: { $implicit: category.children }">
            </ng-container>
          </div>
        }
      </div>
    }
  </ng-template>

  <ng-container
    *ngTemplateOutlet="recursiveList; context: { $implicit: categories() }">
  </ng-container>
</section>
