<section class="max-w-[80vw] mx-auto">

  @if (facade.loading()) {
    <p>loading...</p>
  }

  @if (facade.error()) {
    <p class="error">{{ facade.error() }}</p>
  }

  @if (!facade.loading() && !facade.error()) {

    @if (facade.products().length > 0) {

      <ul class="grid grid-cols-[repeat(auto-fill,minmax(15rem,1fr))] gap-8 justify-center">
        @for (product of facade.products(); track product.product_id) {
          <li class="w-[14rem]">
            <a href="/">
              <img [src]="product.product_image" [alt]="product.product_name" class="w-full h-[180px] object-cover block rounded-lg">
            </a>
              <div class="p-2">
                <app-star-rating [rating]="product.product_rating" />
                <a href="/">
                  <h3 class="text-base text-midnight font-jakarta font-medium">{{ (product.product_name.length > 100)
                    ? (product.product_name | slice:0:60) + '...'
                    : product.product_name
                    }}</h3>
                </a>
                <div class="flex justify-between items-center mt-4">
                  <p class="text-lg font-semibold">{{ product.product_price / 100 | currency:'USD' }}</p>
                  <button class="bg-indigo text-sm text-white rounded-md px-3 py-1.5">Add to Cart</button>
                </div>
              </div>
          </li>
        }
      </ul>

    } @else {
      <p>No products found</p>
    }

  }
</section>
