<section class="max-w-[80vw] mx-auto">

  @if (facade.loading()) {
    <ul class="grid grid-cols-[repeat(auto-fill,minmax(15rem,1fr))] gap-8 justify-center">
      @for (skeleton of skeletons; track skeleton ) {
        <li>
          <app-products-list-skeleton />
        </li>
      }
    </ul>
  }

  @if (facade.error()) {
    <p class="error">{{ facade.error() }}</p>
  }

  @if (!facade.loading() && !facade.error()) {

    @if (facade.products().length > 0) {

      <ul class="grid grid-cols-[repeat(auto-fill,minmax(15rem,1fr))] gap-8 justify-center">
        @for (product of facade.products(); track product.product_id) {
          <li class="w-[14rem] relative">
            <a [routerLink]="['/products', product.product_slug]">
              <img [src]="product.product_image" [alt]="product.product_name" class="w-full h-[180px] object-cover block rounded-lg">
              @if (product.product_stock < 10) {
                <span class="bg-red text-white absolute right-1 top-1 py-1 px-2 text-sm rounded-md">{{product.product_stock}} left</span>
              }
            </a>
              <div class="p-2">
                <app-star-rating [rating]="product.product_rating" />
                <a href="/">
                  <h3 class="text-base text-midnight font-jakarta font-medium">{{product.product_name | truncate:60}}</h3>
                </a>
                <div class="flex justify-between items-center mt-4">
                  <p class="text-lg font-semibold">{{ product.product_price | dynamicCurrency:{ fromCents: true } }}</p>
                  <button class="bg-indigo text-sm text-white rounded-md px-3 py-1.5" (click)="addProductToCart(product.product_id)">Add to Cart</button>
                </div>
              </div>
          </li>
        }
      </ul>

    } @else {
      <p>No products found</p>
    }

  }
</section>
