<section>
  <h2>Produits</h2>

  @if (products().length > 0) {
    <ul>
      @for (product of products(); track product.product_id) {
        <li>
          <h3>{{ product.product_name }}</h3>
          <img [src]="product.product_image" [alt]="product.product_name" width="150" height="150">
          <p>
            Prix :
            <strong>{{ product.product_price / 100 }} €</strong>
          </p>
          <span>rating : {{ product.product_rating }}</span><br>
          <span>stock : {{ product.product_stock }}</span>
        </li><br>
      }
    </ul>
  } @else {
    <p>Aucun produit trouvé.</p>
  }
</section>
