<nav class="border-b-2 border-midnight/80">

  <div class="flex items-center justify-between border-b-2 border-midnight/80 py-2 px-4 lg:w-[60vw] mx-auto lg:border-none">
    <a [routerLink]="['/']">
      <img src="/neora.svg" alt="neora logo" class="w-32">
    </a>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="hidden lg:block">
      <input id="search-desktop" formControlName="search" type="text" placeholder="Search on Néora" class="px-4 py-1 border-[0.150rem] border-midnight/80 xl:w-100 rounded-full" />
      <button type="submit" class="ml-2 bg-indigo text-white rounded-full px-3 py-1.5">Search</button>
    </form>
    <div class="flex gap-3 items-center">
      <a [routerLink]="['/profile']">
        <ng-icon name="bootstrapPerson" class="text-3xl opacity-80" [color]="'var(--color-midnight)'" />
      </a>
      <a [routerLink]="['/bookmarks']">
        <ng-icon name="bootstrapSuitHeart" class="text-2xl opacity-80" [color]="'var(--color-midnight)'" />
      </a>
      <a [routerLink]="['/cart']">
        <ng-icon name="bootstrapCart3" class="text-2xl opacity-80" [color]="'var(--color-midnight)'" />
      </a>
    </div>
  </div>

  <div class="flex lg:hidden items-center">
    <button type="button" class="flex flex-col gap-1 border-r-2 border-midnight/80 p-3" (click)="toggleMenu()">
      <span
        class="w-7 h-[2px] bg-midnight rounded-full transition-all duration-300"
        [ngClass]="{
          'rotate-45 translate-y-[6px]': isMenuOpen
        }"
      ></span>
        <span
          class="w-7 h-[2px] bg-midnight rounded-full transition-all duration-300"
          [ngClass]="{
          'opacity-0': isMenuOpen
        }"
        ></span>
      <span
        class="w-7 h-[2px] bg-midnight rounded-full transition-all duration-300"
        [ngClass]="{
        '-rotate-45 -translate-y-[6px]': isMenuOpen
      }"
      ></span>
    </button>

    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="relative w-full">
      <input id="search-mobile" formControlName="search" type="text" placeholder="Search on Néora" class="px-4 pr-10 py-3 w-full" />
      <button type="submit"><ng-icon name="bootstrapSearch" class="text-2xl opacity-80 absolute right-2 top-3" [color]="'var(--color-midnight)'" /></button>
    </form>
  </div>
</nav>

@if (isMenuOpen) {
  <app-categories-menu class="lg:block"></app-categories-menu>
}

@if (isDesktop$ | async) {
  <app-categories-list class="hidden lg:block"></app-categories-list>
}

