<nav class="border-b-2 border-midnight">

  <div class="flex items-center justify-between border-b-2 border-midnight py-2 px-4">
    <img src="/neora.svg" alt="neora logo" class="w-32">
    <div class="flex gap-3 items-center">
      <ng-icon name="bootstrapPerson" class="text-4xl opacity-80" [color]="'var(--color-midnight)'" />
      <ng-icon name="bootstrapSuitHeart" class="text-3xl opacity-80" [color]="'var(--color-midnight)'" />
      <ng-icon name="bootstrapCart3" class="text-3xl opacity-80" [color]="'var(--color-midnight)'" />
    </div>
  </div>

  <div class="flex">

    <div class="flex flex-col gap-1 border-r-2 border-midnight p-2">
      <p class="w-7 border-[0.125rem] border-midnight rounded-4xl opacity-80"></p>
      <p class="w-7 border-[0.125rem] border-midnight rounded-4xl opacity-80"></p>
      <p class="w-7 border-[0.125rem] border-midnight rounded-4xl opacity-80"></p>
    </div>

    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="relative w-full">
      <input id="search" formControlName="search" type="text" placeholder="Search on Néora" class="px-4 py-2" />
      <button type="submit"><ng-icon name="bootstrapSearch" class="text-2xl opacity-80 absolute right-2 top-2" [color]="'var(--color-midnight)'" /></button>
    </form>

  </div>
</nav>
