<div class="flex justify-between">
  <form [formGroup]="form" (ngSubmit)="onCheckout()" class="flex flex-col gap-3 max-w-[35rem]">

    <div class="flex items-center gap-6">
      <div class="flex flex-col gap-1">
        <label for="first-name" class="font-light">First name</label>
        <input id="first-name" formControlName="first_name" class="border-1 rounded-sm border-grey py-0.5 px-2 focus:outline-indigo focus:outline-2 focus:border-none"/>
      </div>
      <div class="flex flex-col gap-1">
        <label for="last-name" class="font-light">Last name</label>
        <input id="last-name" formControlName="last_name" class="border-1 rounded-sm border-grey py-0.5 px-2 focus:outline-indigo focus:outline-2 focus:border-none"/>
      </div>
    </div>

    <div class="flex flex-col gap-1">
      <label for="address" class="font-light">Address</label>
      <input id="address" formControlName="address_line" class="border-1 rounded-sm border-grey py-0.5 px-2 focus:outline-indigo focus:outline-2 focus:border-none"/>
    </div>

    <div class="flex items-center gap-6">
      <div class="flex flex-col gap-1">
        <label for="city" class="font-light">City</label>
        <input id="city" formControlName="city" class="border-1 rounded-sm border-grey py-0.5 px-2 focus:outline-indigo focus:outline-2 focus:border-none"/>
      </div>
      <div class="flex flex-col gap-1">
        <label for="country" class="font-light">Country</label>
        <input id="country" formControlName="country" class="border-1 rounded-sm border-grey py-0.5 px-2 focus:outline-indigo focus:outline-2 focus:border-none"/>
      </div>
    </div>

    <div class="flex items-center gap-6">
      <div class="flex flex-col gap-1">
        <label for="state" class="font-light">State</label>
        <input id="state" formControlName="state" class="border-1 rounded-sm border-grey py-0.5 px-2 focus:outline-indigo focus:outline-2 focus:border-none"/>
      </div>
      <div class="flex flex-col gap-1">
        <label for="postal-code" class="font-light">Postal code</label>
        <input id="postal-code" formControlName="postal_code" class="border-1 rounded-sm border-grey py-0.5 px-2 focus:outline-indigo focus:outline-2 focus:border-none"/>
      </div>
    </div>

    <button type="submit" class="mt-2 bg-indigo text-md text-white rounded-md px-3 py-1.5 w-fit font-normal">Confirm</button>
  </form>

  <div id="payment-element"></div>

  <button (click)="pay()">Payer</button>
</div>
