@if (products().length > 0) {
<ul class="flex flex-col gap-4">
  @for (product of products(); track product.product_id) {
      <li class="w-[25rem] h-[11rem] flex gap-4">
        <img [src]="product.product_image" [alt]="product.product_name" class="w-[160px] h-[full] object-cover block rounded-md">
        <div class="flex flex-col gap-2 justify-between">
          <div>
            <a [routerLink]="['/products', product.product_slug]">
              <h3 class="font-jakarta text-base font-semibold">{{ product.product_name | truncate:60 }}</h3>
            </a>
            <p class="text-base font-normal mt-1">{{ product.product_price | dynamicCurrency:{fromCents: true} }}</p>
          </div>
          <div class="flex gap-3 items-center">
            @if (product.product_quantity > 1) {
              <button
                (click)="removeProductFromCart(product.product_id)"
                class="bg-indigo text-white text-xl rounded-full h-8 w-8 flex items-center justify-center">
                -
              </button>
            } @else {
              <button (click)="removeProductFromCart(
              product.product_id
              )" class="bg-red text-white text-md rounded-full h-8 w-8 flex items-center justify-center"><ng-icon name="bootstrapTrash3Fill" /></button>
            }
            <span class="text-xl">{{product.product_quantity}}</span>
            <button (click)="addProductToCart(
              product.product_id
            )" class="bg-indigo text-white text-xl rounded-full h-8 w-8 flex items-center justify-center">+</button>
          </div>
        </div>
      </li>
    <span class="mt-4 mb-2 outline-1 outline-grey w-[25rem]"></span>
  }
</ul>
} @else {
  <p>Your cart is empty for the moment</p>
}

<p>{{totalAmount() | dynamicCurrency:{fromCents: true} }}</p>

<button (click)="initiateCheckout()">checkout</button>

@if (errorMessage()) {
  <p>{{errorMessage()}}</p>
}
